body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: url("data:image/svg+xml;utf8,%3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 600%22 version=%221.1%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cstyle%3E .box_shadow { box-shadow: -5px -5px 20px -10px %231d03ff; } .shadow_right { -webkit-filter: drop-shadow(-5px -5px 15px %231d03ff); filter: drop-shadow(-5px -5px 15px %231d03ff); } .shadow_left{ -webkit-filter: drop-shadow(5px 5px 15px %231d03ff); filter: drop-shadow(5px 5px 15px %231d03ff); } %3C%2Fstyle%3E %3Cdefs%3E %3ClinearGradient id=%22gradient__0%22 x1=%220%22 y1=%220%22 x2=%220%22 y2=%221%22%3E %3Cstop stop-color=%22%231d03ff%22 offset=%220.0%25%22 %2F%3E %3Cstop stop-color=%22%238f79bf%22 offset=%2216.7%25%22 %2F%3E %3Cstop stop-color=%22%23f6edff%22 offset=%2233.3%25%22 %2F%3E %3Cstop stop-color=%22white%22 offset=%2250.0%25%22 %2F%3E %3Cstop stop-color=%22%23f6edff%22 offset=%2266.7%25%22 %2F%3E %3Cstop stop-color=%22%238f79bf%22 offset=%2283.3%25%22 %2F%3E %3Cstop stop-color=%22%231d03ff%22 offset=%22100.0%25%22 %2F%3E %3C%2FlinearGradient%3E %3Cfilter id=%22grain%22 x=%22-500%22 y=%22-300%22 width=%222000%22 height=%221200%22 filterUnits=%22userSpaceOnUse%22%3E%3E %3CfeFlood flood-color=%22%23ffffff%22 result=%22neutral-gray%22 %2F%3E %3CfeTurbulence in=%22neutral-gray%22 type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22noise%22 %2F%3E %3CfeColorMatrix in=%22noise%22 type=%22saturate%22 values=%220%22 result=%22destaturatedNoise%22 %3E%3C%2FfeColorMatrix%3E %3CfeComponentTransfer in=%22desaturatedNoise%22 result=%22theNoise%22%3E %3CfeFuncA type=%22table%22 tableValues=%220 0 0.4 0%22%3E%3C%2FfeFuncA%3E %3C%2FfeComponentTransfer%3E %3CfeBlend in=%22SourceGraphic%22 in2=%22theNoise%22 mode=%22soft-light%22 result=%22noisy-image%22 %2F%3E %3C%2Ffilter%3E} %3C%2Fdefs%3E %3Cg filter=%22url(%23grain)%22%3E %3Crect width=%221000%22 height=%22600%22 fill=%22%231d03ff%22%2F%3E %3Crect class=%22%22 id=%22rect__4%22 x=%22444.44444444444446%22 y=%22133.33333333333334%22 width=%22111.11111111111111%22 height=%22333.3333333333333%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__5%22 x=%22555.5555555555555%22 y=%22100%22 width=%22111.11111111111111%22 height=%22400%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__6%22 x=%22666.6666666666666%22 y=%2266.66666666666666%22 width=%22111.11111111111111%22 height=%22466.6666666666667%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__7%22 x=%22777.7777777777778%22 y=%2233.333333333333314%22 width=%22111.11111111111111%22 height=%22533.3333333333334%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_left%22 id=%22rect__8%22 x=%22888.8888888888889%22 y=%220%22 width=%22111.11111111111111%22 height=%22600%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__3%22 x=%22333.3333333333333%22 y=%22100%22 width=%22111.11111111111111%22 height=%22400%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__2%22 x=%22222.22222222222223%22 y=%2266.66666666666667%22 width=%22111.11111111111111%22 height=%22466.66666666666663%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__1%22 x=%22111.11111111111111%22 y=%2233.333333333333336%22 width=%22111.11111111111111%22 height=%22533.3333333333334%22 fill=%22url(%23gradient__0)%22 %2F%3E %3Crect class=%22shadow_right%22 id=%22rect__0%22 x=%220%22 y=%220%22 width=%22111.11111111111111%22 height=%22600%22 fill=%22url(%23gradient__0)%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
      
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-body {
  width: 94%;  
  height: 90%;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-between;
  
}

.album-card {
  position: relative;
  width: 20%;
  max-height: 15%;
  border-radius: 10px;
  background-color: rgb(30, 42, 62);
  border: 1px solid rgb(156, 153, 153);
  padding: 1%;
  margin-bottom: 2%;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  transition: all 0.2s ease;
  cursor: pointer;
}

.album-card:hover {
  transform: scale(1.02)
}

.album-image {
  width: 100%;
  aspect-ratio: 1;
  height: 70%;
}

.album-name {
  font-weight: 800;
  font-size: 16px;
  color: #000000;
  margin: 10px 0px 0px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: 2;
}

.artist-name {
  font-weight: 800;
  font-size: 16px;
  color: #ffffff;
}